.pharmacy-Add-btn {
  background-color: #0ca82e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.pharmacy-Add-btn:hover {
  background-color: #218838;
}

.pharmacy-Btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pharmacy-Btn-edit, .pharmacy-Btn-delete {
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 10px;
  transition: background-color 0.3s ease;
}

.pharmacy-Btn-edit {
  background-color: white;
  color: #00C2CB;
  border: 1px solid #00C2CB;
}

.pharmacy-Btn-edit:hover {
  background-color: #00C2CB;
  color: white;
}

.pharmacy-Btn-delete {
  background-color: #ffff;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.pharmacy-Btn-delete:hover {
  background-color: #dc3545;
  color: white;
}

/* Toast Messages */
.pharmacyAdmin-tosat {
  background-color: white !important;
  color: #dc3545 !important;
  font-weight: bold;
  border: 2px solid #dc3545;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.pharmacyAdmin-tosat .Toastify__toast-icon svg {
  fill: #dc3545 !important;
}

.pharmacyAdmin-tosat .Toastify__progress-bar {
  background-color: #dc3545 !important;
}

/* Customize sweetalart */
.custom-swal-popup {
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: var(--primary-lighter) !important;
}

.custom-swal-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-dark);
}

.custom-swal-confirm {
  background-color: white !important;
  color: #dc3545 !important;
  border: 2px solid #dc3545;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.3s;
}

.custom-swal-confirm:hover {
  background-color: #dc3545 !important;
  color: white !important;
}

.custom-swal-cancel {
  background-color: white !important;
  color: #00C2CB !important;
  border: 2px solid #00C2CB !important;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.3s;
}

.custom-swal-cancel:hover {
  background-color: #00C2CB !important;
  color: white !important;
}

.swal2-icon.swal2-warning {
  color: #dc3545 !important;
  border-color: #dc3545 !important;
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
  .checkout-product-container {
    flex-direction: column;
    text-align: center;
  }
  
  .checkout-product-image {
    margin-right: 0;
    margin-bottom: 15px;
  }
}