.pharmacy-Add-btn {
  background-color: #0ca82e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.pharmacy-Add-btn:hover {
  background-color: #218838;
}

.pharmacy-Btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pharmacy-Btn-edit, .pharmacy-Btn-delete {
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 10px;
  transition: background-color 0.3s ease;
}

.pharmacy-Btn-edit {
  background-color: white;
  color: #00C2CB;
  border: 1px solid #00C2CB;
}

.pharmacy-Btn-edit:hover {
  background-color: #00C2CB;
  color: white;
}

.pharmacy-Btn-delete {
  background-color: #ffff;
  color: #dc3545;
  border: 1px solid #dc3545;
}

.pharmacy-Btn-delete:hover {
  background-color: #dc3545;
  color: white;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .checkout-product-container {
    flex-direction: column;
    text-align: center;
  }
  
  .checkout-product-image {
    margin-right: 0;
    margin-bottom: 15px;
  }
}